
.toolbar-header span {
    margin: auto;
}

.mat-elevation-z8 {
    width: 100%;
    max-width: 70rem;
    margin: 1em auto;
}

.table-header {
    text-align: center;
    padding: 0.5rem;
    border-bottom: 2px dotted gainsboro;
}